.projects
.idea
*.box
.vagrant
*.iml
/provision/chef/vendor-cookbooks/
/provision/ansible/vendor-roles
/Berksfile.lock
/Vagrantfile
/packer_cache
/output-*
/packer_cache
/base-virtualbox
/base-vmware
/.kitchen
/jenkins
